.social-list a {
	color: $regular_text_color;
}
.share-btns__link:hover,
.social-list a:hover {
	color: $regular_accent_color_2;
}
.invert .social-list a {
	color: $regular_accent_color_2;
}
.invert .share-btns__link:hover,
.invert .social-list a:hover {
	color: @lighten($invert_text_color, 10);
}
