<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="1355" crop_height="1020"%%
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%

	<div class="project-more-button-wrap">%%BUTTON%%</div>
</div>
