<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="360" crop_height="270"%%

	<div class="project-links overflow-content">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content style-3">
	<div class="project-meta">
		%%DATE%%
		%%AUTHOR%%
		%%TERMSLIST%%
	</div>

	%%TITLE%%

	<div class="project-more-button-wrap">%%BUTTON%%</div>
</div>
