<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="480" crop_height="360"%%
</div>
<div class="project-content overflow-content">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%

	<div class="project-more-button-wrap">%%BUTTON%%</div>
</div>
