<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="360" crop_height="270"%%
</div>
<div class="project-content overflow-content project-content-style-2">
	%%TITLE%%
	%%CONTENT number_of_words="15"%%

	<div class="project-more-button-wrap">%%BUTTON%%</div>

	<div class="project-links">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
