<div class="project-media">
	%%FEATUREDIMAGE size="furnicom_lite-thumb-m"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="50"%%
	%%BUTTON%%
</div>
