<blockquote>
	<div class="tm-testi-left-col">
		%%AVATAR%%
	</div>
	<div class="tm-testi-right-col">
		<div class="tm-testi__item-body">
			%%CONTENT%%
		</div>
		<footer>
			<div class="tm-testi__item-meta-content">
				<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
			</div>
		</footer>
	</div>
</blockquote>
