.post-password-form {
	text-align: center;
	@include media-breakpoint-up(sm) {
		text-align: left;
	}
	label {
		display: inline-block;
		vertical-align: top;
		margin: 5px 0;

		input[type="password"] {
			padding-top: 14px;
			padding-bottom: 13px;
		}
		& + input[type="submit"] {
			margin: 5px 0;
		}
	}
}
